---
Checks: >
  clang-diagnostic-*,
  clang-analyzer-*,
  cppcoreguidelines-*,
  modernize-*,
  performance-*,
  readability-*,
  bugprone-*,
  -modernize-use-trailing-return-type,
  -readability-magic-numbers,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -readability-identifier-length

WarningsAsErrors: >
  bugprone-*,
  clang-analyzer-*,
  performance-*

HeaderFilterRegex: 'include/.*\.hpp'

CheckOptions:
  - key:   readability-identifier-naming.ClassCase
    value: CamelCase
  - key:   readability-identifier-naming.FunctionCase
    value: camelCase
  - key:   readability-identifier-naming.VariableCase
    value: camelCase
  - key:   readability-identifier-naming.MemberPrefix
    value: m_
  - key:   readability-identifier-naming.ConstantCase
    value: UPPER_CASE
  - key:   readability-identifier-naming.NamespaceCase
    value: lower_case
  - key:   modernize-use-default-member-init.UseAssignment
    value: true
---
